<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Facebook Data Analyzer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <style>
      .main-color {
        background-color: #282A2E;
        color: #FFF;
      }
      .secondary-color {
        background-color: #202225;
        color: #FFF;
      }
      h6 > * {
        color: #3377bf;
      }
    </style>
  </head>
  <body class="main-color" style="padding-top: 30px;">

    <div class="d-grid gap-2">

      <!-- User Information -->
      <div class="container card secondary-color rounded border-0">
        <div class="card-body text-center">
          <h3><strong><%= client.name %></strong></h3>
          <small>Account created on <%= client.createdOn %></small>
        </div>
      </div>

      <!-- Statistical Information -->
      <div class="container d-grid secondary-color rounded border-0">

        <!-- First Row -->
        <div class="row">

          <!-- 
            Messages Encountered, 
            Messages Sent, 
            Messages Received, 
            Words Sent, 
            Group Channels 
          -->
          <div class="card-body text-center">
            <h6>
              <strong><%=client.messagesEncountered%></strong> messages, 
              <strong><%=client.messagesReceived%></strong> messages received, 
              <strong><%=client.messagesSent%></strong> messages sent
            </h6>
          </div>

          <!-- Favorite Hours -->
          <canvas class="card-body text-center" id="favoriteHoursChart"></canvas>
        </div>

        <!-- Second Row -->
        <div class="row">
        </div>
        
      </div>

    </div>


  </body>
</html>